body{
    background-color: yellowgreen;
}
.error-message {
    color: red;
}
.top-20{
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(94, 91, 89);
    color: white;
    margin-top:5%;
  }